body,
main {
  background-color: #111111;
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  height: 60px;
  background-color: #222222;
}

.navbar-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  background-color: #333333;
  border: none;
  padding: 0.5rem 1rem;
  color: #f5f5f5;
  border-radius: 8px;
  width: 400px;
  height: 30px;
}

.search-input {
  background: none;
  border: none;
  outline: none;
  color: #f5f5f5;
  font-size: 1rem;
  width: 100%;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.button-secondary {
  background-color: #666666;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.button:hover,
.button-secondary:hover {
  transform: translateY(-3px);
}

.button:active,
.button-secondary:active {
  transform: translateY(0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon-button img {
  display: block;
}

.icon-button:active {
  transform: translateY(1px);
}

.text-header {
  font-size: 2rem;
  font-weight: bold;
}

.text-accent {
  color: #ff0000;
}
